.dropList__elementContent {
    display: flex;
    align-items: center;
  }
  
  .dropList__elementContent img {
    width: 30px;
    height: 30px;
  }
  
  .dropList__elementContent img,
  .dropList__elementContent span {
    margin-right: 10px;
    pointer-events: none;
  }
  