.dropListContainer {
  width: 500px;
  margin: 40px auto;
}

.dropListContainer__ButtonAndInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.error-text {
  margin: 5px;
  color: red;
}