.dropListButton__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  border: none;
  padding: 5px 10px;
  margin-right: 15px;
  cursor: pointer;
  background-color: rgb(216, 216, 216);

}

.dropListButton img {
  height: 30px;
  width: 30px;
}

.dropListButton span {
  font-size: 30px;
}