.dropList {
  height: 300px;
  width: 500px;
  overflow-y: scroll;
  border: 1px solid rgb(202, 202, 202);
  margin-top: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}



/* ===== Scrollbar CSS  ===== */

/* Firefox */

/* .dropList {
    scrollbar-width: auto;
    scrollbar-color: #e0e0e0 rgb(49, 48, 48);
} */

/* Chrome, Edge, and Safari */

.ReactVirtualized__List::-webkit-scrollbar {
  width: 5px;
}

.ReactVirtualized__List::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
 
}

.ReactVirtualized__List::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 50px;
  
}

.dropList__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 5px; */
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}

.dropList .dropList__element:hover {
  background-color: #f1f4f8;
}
